<div class="education-container">
    <h2>{{ headingEducation }}</h2>

   <div class="education-info">
    <div class="year">
        <h4>2022 - Present</h4>
        <p>President's Lister</p>
        <p>Dean's Lister</p>
    </div>
    <div class="school">
        <h4>{{ college }}</h4>
    </div>
   </div>

   <div class="education-info">
    <div class="year">
        <h4>2020 - 2022</h4>
        <p>With Honors</p>
    </div>
    <div class="school">
        <h4>{{ shs }}</h4>
    </div>
   </div>

   <div class="education-info">
    <div class="year">
        <h4>2016 - 2020</h4>
        <p>With Honors</p>
    </div>
    <div class="school">
        <h4>{{ jhs }}</h4>
    </div>
   </div>
</div>