<div class="references-container">
    <h2>{{ referenceHeading}}</h2>

    <p><strong>John Doe</strong><br>
        <em>Senior Marketing Manager</em><br>
        XYZ Corporation<br>
        Phone: (123) 456-7890<br>
        Email: john.doe&#64;xyzcorporation.com<br>
        Relationship: Former Supervisor
     </p>

    <p><strong>Jane Smith</strong><br>
        <em>Director of Operations</em><br>
        ABC Enterprises<br>
        Phone: (987) 654-3210<br>
        Email: jane.&#64;smithabc.com<br>
        Relationship: Colleague
     </p>
     
     <p><strong>David Brown</strong><br>
        <em>Project Manager</em><br>
        Tech Solutions Ltd.<br>
        Phone: (555) 123-4567<br>
        Email: david&#64;.browntechsolutions.com<br>
        Relationship: Mentorship and Collaborative Projects
     </p>
</div>