.training-container {
    display: flex;
    padding: 1%;
    justify-content: start;
    width: 45%;
    margin-inline: auto;
    border-bottom: 1px solid rgb(75, 27, 5);
    padding-bottom: 3%;
    gap: 5rem;
}

.skills-certificates {
    width: 100%;
}

h2 {
    color:  rgb(124, 45, 9);
}

